@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
    font-family: Play;
}

body{
    background-color: rgba(0, 0, 0, 0.356);
    margin: 0 auto;
    /* margin-right: 100%; */
    padding: 15px;
    
}

.janela {
    display: flex;
    /* margin-left: 0%; */
    width: 100vw;
}

.header-left a {
    text-decoration: none;
    color: white;
  }

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #32b9cd;
    background-color: #212124;
}

.header-left h1 {
    color: #68543e;
}

.hello {
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.hello h3 {
    color: #e3b062;
    font-weight: 300;
    font-size: 1.2rem;
}
  
.hello h3 span {
    font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #000000;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: rgba(75, 75, 75, 0.999);
  border: 3px solid #000000;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #000000ae;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #32b9cd;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
}

.janela {
    display: flex;
    width: 94vw;
    flex-direction: column;
} 

.title{
    display: flex;
margin-top: -13%;
margin-right: -10%;
margin-left: 5%;
}
  
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.cards div {
    
    border-radius: 50px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 15px;
    margin: 20px;
    width: 150px;
    transition: all 0.3s ease-out;
}

.cards:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
   
.card p {
    color: #a3a5ae;
    font-size: 16px;
}

.card1 {
    background-color: #b3404a92;
    border-left: 3px solid #b01e2a;
  }
   
.card2 {
    background-color: #c9a71d7e;
    border-left: 3px solid #c09900;
  }
   
.card3 {
    background-color: #3bb54989;
    border-left: 3px solid #11af24;
}

.card5 {
    background-color: #c9a71d7e;
    border-left: 3px solid #c09900;
}

.card6{
    background-color: #b3404a92;
    border-left: 3px solid #b01e2a;
}

.cards-setor{
    margin-left: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 100%;
    align-items: center;
    color: white;
}

.cards-setor .container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 2%;
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    height: 180px;
    justify-content: right;
    background-color: #212124;
    font-size: 20px;
}

.card p {
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
    text-align: left;
}

.cards-setor h1 {
    font-size: 22px;
    width: 100%;
    border-bottom: solid white 1px;
    text-align: left;
    font-weight: lighter;
    margin: 20px;
}

.temperatura{
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}


