/*CSS GLOBAL header e footer*/

/* links */
a{
    text-decoration: none;
    color: black;
}
/* navbar */

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #B88B5C;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
}
.nav{
    display: flex;
    padding: 10px;
}
.nav ul{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.nav ul li{
    justify-content: space-around;
    padding: 5px;
    list-style: none;
    margin: 0px 3px;
    width: 100px;
    justify-content: center;
    text-align: center;
}
.nav ul li a{
    text-decoration: none;
    color: black;
}
.nav button{
    height: 65%;
    width: 15%;
    padding: 13px 30px;
    border-radius: 2px;
    border-color: black;
    background-color: #B88B5C;
}

/*main*/
main{
    background-color: #B88B5C;
    padding: 45px;
}

.formulario {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 400px;
    width: 600px;
}


/*footer*/

.footer{
    background-color: black;
    color: white;
    height: 400px;
    display: flex;
    margin: 0;
}
.footer .contato{
    margin: 20px;
    height: 60px;
    width: 30%;
    justify-content: center;
    text-align: center;
}
.footer .contato h1{
    font-size: 50px;
}
.footer .container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.footer .container p{
    margin-left: 15%;
    padding: 20px 0;
}

/* imagem */

.image{
    position: absolute;
    margin-top: -30%;
    margin-left: 52%;
}
