.navbar{
    background-color: black;
    position: relative;
}

main{
    padding: 0;
    margin: 0;
}
.imagens{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.img1{
    transform: rotateY(180deg);
}

.logoProduct{
    margin-left: 30%;
    position: absolute;
    margin-top: -5%;
}
.logoProduct img{
    height: 80vh;
}

.img2{
    transform: rotateY(180deg);
}

.slogan{
    position: absolute;
    font-size: 25px;
    color: #99775C;
    text-align: center;
    margin-left: 30%;
    margin-top: -12%;
}

footer{
    margin-top: -5px;
}