body{
    background-color: #ffffff;
    font-family:sans-serif;
    margin: 0 auto;
    padding: 0px;
}

.home{
    background: #B88B5C;
}

header{
    padding: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    margin-bottom: -5%;
}



#title{
    padding: 2%;
    color: white;
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color:white;
}

a:hover{
    color: rgb(37, 37, 37);
    transition: 0.3s all;
}

#login-btn{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
}

#login-btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

aside{
    padding: 6.5%;
    max-width: 500px;
}

h2{
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    font-family: sans-serif;
}

span{
    color: rgb(255, 255, 255);
}

p{
    font-family: sans-serif;
    color: white;
    font-size: 18px;
}

.simulador{
    height: 14%;
    width: 50%;
    background-color: #B88B5C;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    transition: 0.3s all;
}

.simulador:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
}

.img-home{
    margin-left: 50%;
    width: 110.8%;
    transition: all 0.8s;

}

.img-home:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.quem-somos{
    margin: 5%;
}

.quem-somos-bckgrnd{
margin-top: -30%;
margin-left: 13%;
width: 19.50%;
height: 300px;
background: #8E582C;
} 

.img-quem-somos{
    width: 40%;
    margin-top: -37%;
}


.quem-somos-txt{
    margin-left: 35%;
    text-align: center;
    background-color: #E8CB9A;
}

.quem-somos-txt p{
    text-align: left;
    color: black;
    font-weight: 400;
    font-size: 200%;
    line-height: 130%;
}
.quem-somos-txt h2{
    color: black;
}

.nossos-valores-titulo{
    display: flex;
    justify-content: center;
    margin: 10%;
    color: #623307;
    text-align: center;
}

.nossos-valores-bckgrnd{
    margin-top: -13%;
    margin-left: 2%;
}

.nossos-valores-bckgrnd1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    width: 11%;
    
}


.nossos-valores-bckgrnd2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0px;
    width: 11%;
    margin-top: -10%;

}

.nossos-valores-bckgrnd3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 400px;
    width: 11%;
    margin-top: -25%;
}

.nossos-valores-bckgrnd4{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    width: 11%;
    margin-top: -15%;
    
} 

.nossos-valores-txt{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    color: black;
    text-align: center;
}


.nossos-valores-txt p{
    text-align: center;
    color: black;
}

.nossos-valores-img{
    display: flex;
    justify-content: flex-end;
    margin-left: -30%;
    margin-top: -45%;
}

.img-nossos-valores{
    width: 40% ;
}


footer{
    background-color: black;
    color: white;
    height: 490px;
    display: flex;
    margin: 0;
}
footer .contato{
    margin: 20px;
    height: 60px;
    width: 30%;
    justify-content: center;
    text-align: center;
}
footer .contato h1{
    font-size: 50px;
}
footer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
footer p{
    margin-left: 15%;
    padding: 20px 0;
}